body {
  font-family: sans-serif;
  text-align: center;
  background: #f9f9f9;
}
.controls {
  margin: 20px;
}
#numberContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.number {
  padding: 10px 15px;
  background: #007acc;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s;
}
.number.active {
  background: orange;
}
